<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">


    <resultMap id="jilian" type="entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age"  property="age"/>
        <result column="d_name" property="depart.name"/>
    </resultMap>



    <select id="findAll" resultMap="jilian">
        select u.name name,u.age age,u.sex sex,d.name d_name
        from t_depart d,t_user u
        where  d.id=u.id
    </select>



</mapper>